<% if content.errors.any? %>
    <p>Error: <%= content.errors.full_messages.join(', ') %></p>
<% end %>

<%= form_with(model: content, local: true) do |form| %>
    <div class='field'>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <div class='field'>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>

    <select class="select2 form-control" multiple="multiple" style="width: 50%">
        <option>Ruby</option>
        <option>PHP</option>
        <option>Python</option>
        <option>Java</option>
        <option>Javascript</option>
    </select>
    <div class='field'>
        <%= form.submit %>
    </div>
<% end %>